<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">100</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- DB Credentials START -->
        <property name="hibernate.connection.url">jdbc:mysql://[host]:[port]/[dbname]</property>
        <property name="hibernate.connection.username">[username]</property>
        <property name="hibernate.connection.password">[password]</property>
		<!-- DB Credentials END -->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <mapping resource="com/paypal/donation/models/Widgetui.hbm.xml" />
        <mapping resource="com/paypal/donation/models/User.hbm.xml" />
        <mapping resource="com/paypal/donation/models/Transaction.hbm.xml" />
        <mapping resource="com/paypal/donation/models/Widget.hbm.xml" />
        <mapping resource="com/paypal/donation/models/Currency.hbm.xml" />
        <mapping resource="com/paypal/donation/models/Location.hbm.xml" />
        <mapping resource="com/paypal/donation/models/Event.hbm.xml" />
		<mapping resource="com/paypal/donation/models/RenderLocation.hbm.xml" />
    </session-factory>
</hibernate-configuration>
