<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>DonationWidget</display-name>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.paypal.donation.servlet.filter.SessionFilter</filter-class>
		<init-param>
			<param-name>avoid-urls</param-name>
			<param-value>index.jsp,renderWidget.jsp</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>/dashboard</url-pattern>
		<url-pattern>/dc</url-pattern>
		<url-pattern>/admin</url-pattern>
		<url-pattern>/widget</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>com.paypal.donation.controllers.SessionListener</listener-class>
	</listener>
		
	<servlet>
		<servlet-name>APIController</servlet-name>
		<servlet-class>com.paypal.donation.controllers.APIController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Donation</servlet-name>
		<servlet-class>com.paypal.donation.controllers.DonationController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Vetting</servlet-name>
		<servlet-class>com.paypal.donation.controllers.VettingController</servlet-class>
	</servlet>
	<servlet>
		<display-name>StartupServlet</display-name>
		<servlet-name>StartupServlet</servlet-name>
		<servlet-class>com.paypal.donation.controllers.StartupServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RenderWidget</servlet-name>
		<jsp-file>/renderWidget.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>DisplayWidgets</servlet-name>
		<jsp-file>/myaccount.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<jsp-file>/admin.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Faq</servlet-name>
		<jsp-file>/faq.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>AdminWidget</servlet-name>
		<jsp-file>/widget.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>PrintPreview</servlet-name>
		<jsp-file>/printPreview.jsp</jsp-file>
	</servlet>	
	<servlet>
		<servlet-name>Error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>DonationAmountError</servlet-name>
		<jsp-file>/donationerror.jsp</jsp-file>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>APIController</servlet-name>
		<url-pattern>/ac</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>Donation</servlet-name>
		<url-pattern>/dc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Vetting</servlet-name>
		<url-pattern>/VettingController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartupServlet</servlet-name>
		<url-pattern>/StartupServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RenderWidget</servlet-name>
		<url-pattern>/r</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayWidgets</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faq</servlet-name>
		<url-pattern>/faq</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminWidget</servlet-name>
		<url-pattern>/widget</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintPreview</servlet-name>
		<url-pattern>/p</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DonationAmountError</servlet-name>
		<url-pattern>/cerror</url-pattern>
	</servlet-mapping>	

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
	    <location>/error</location>
	</error-page>	
</web-app>